.navbar-color {
    background-color: var(--black);
    transition: top 200ms ease-in;
}

.swiper {
    width: 100%;
    padding: 50px 0;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 275px !important;
    margin: 1em 0;
}

.swiper-slide img {
    display: block;
    width: 100%;
}

.swiper-pagination-bullet {
    background-color: gray;
    width: 12px;
    height: 12px;
    opacity: 0.8;
}

.swiper-pagination-bullet-active {
    background-color: var(--folly);
    transform: scale(1.2);
}

.border-bottom-color {
    border-bottom: 2px solid var(--folly);
}

.offcanvas-header .btn-close {
    filter: invert(1) grayscale(100%) brightness(200%);
    border: none;
}

.start-btn {
    color: #FC81FF !important;
    font-weight: bold !important;
}

.button-one {
    background-color: transparent !important;
    color: var(--folly) !important;
    border: 2px solid var(--folly) !important;
}

.button-two {
    background-color: var(--folly) !important;
    border: 2px solid var(--folly) !important;
}

.button-three {
    color: var(--folly) !important;
}

.arrow {
    border: solid var(--folly);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(-45deg);
    transition: margin-left 200ms ease-in-out;
}

.start-btn:active {
    color: hsl(299, 100%, 85%) !important;
}

.button-one:active {
    background-color: var(--folly) !important;
    color: white !important;
}

.button-two:active {
    background-color: transparent !important;
    color: var(--folly) !important;
}

.background-img {
    height: 80vh !important;
}

.hr {
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.bg-cards {
    background-color: hsla(349, 100%, 63%, 0.5) !important;
    color: #f8f9fa;
}

.text-wrap-flex {
    max-width: 55em;
}

.input-control:focus,
.input-focus:focus-visible {
    box-shadow: 0 0 0 0.2rem hsla(349, 100%, 63%, 0.5) !important;
}

.nav-link:focus {
    box-shadow: none !important;
}

.custom-checkbox input[type="checkbox"]:checked {
    background-color: var(--folly) !important;
    box-shadow: 0 0 0 0.2rem hsla(349, 100%, 63%, 0.5) !important;
    border-color: var(--folly) !important;
}

.custom-checkbox input[type="checkbox"]:focus {
    box-shadow: 0 0 0 0.2rem hsla(349, 100%, 63%, 0.5) !important;
    border-color: rgb(255, 108, 135) !important;
}

.modal-content,
.custom-checkbox input[type="checkbox"] {
    border-color: var(--folly) !important;
}

input[type="checkbox"]:hover {
    cursor: pointer;
}

.input-border {
    border: none !important;
    border-bottom: 2px solid hsla(349, 100%, 63%, 0.5) !important;
}

.input-border:focus {
    border-color: var(--folly) !important;
    box-shadow: none !important;
}

.carousel-item::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10em;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.carousel-caption {
    position: relative;
    z-index: 2;
    color: white;
}

.face-card-border {
    border-right: 2px solid var(--folly);
}

@media (min-width: 992px) {
    .start-btn:hover {
        color: hsl(299, 100%, 85%) !important;
    }

    .button-one:hover {
        background-color: var(--folly) !important;
        color: white !important;
    }

    .button-two:hover {
        background-color: transparent !important;
        color: var(--folly) !important;
    }

    .button-three:hover .arrow {
        margin-left: 1.5em !important;
    }
}

@media (max-width: 991px) {
    .button-three:active .arrow {
        transition-duration: 0ms;
        margin-left: 1.5em !important;
    }
}

@media (min-width: 768px) {
    .bg-cards {
        background-color: transparent !important;
        color: #212529 !important;
    }

    .swiper-slide {
        width: 320px !important;
    }
}

@media (max-width: 767px) {
    .background-img {
        height: 40vh !important;
    }

    .text-wrap-flex {
        min-width: fit-content;
    }

    .carousel-item::before {
        height: 100%;
    }
}

@media (min-width: 1200px) {
    .swiper-slide {
        width: 400px !important;
    }
}

@media (min-width: 1400px) {
    .swiper-slide {
        width: 450px !important;
    }
}