.navbar-color{
    background-color: var(--black);
    transition: top 200ms ease-in;
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
  
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 320px;
    margin: 1em 0;
}

.swiper-slide img {
display: block;
width: 100%;
}

.swiper-pagination-bullet {
    background-color: gray;
    width: 12px;
    height: 12px;
    opacity: 0.8;
  }
.swiper-pagination-bullet-active {
background-color: var(--folly);
transform: scale(1.2); 
}

.border-bottom-color{
    border-bottom: 2px solid var(--folly);
}
.offcanvas-header .btn-close {
    filter: invert(1) grayscale(100%) brightness(200%);
    border: none;
}
.start-btn{
    color:#FC81FF !important;
    font-weight: bold !important;
}

.button-one{
    background-color: transparent !important;
    color: var(--folly) !important;
    border: 2px solid var(--folly) !important;
}

.button-two{
    background-color: var(--folly) !important;
    border: 2px solid var(--folly) !important;
}

.button-three{
    color: var(--folly) !important;
}

.arrow {
    border: solid var(--folly);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transition: margin-left 200ms ease-in-out;
  }

.start-btn:active{
    color:hsl(299, 100%, 85%) !important;
}
.button-one:active{
    background-color: var(--folly) !important;
    color: white !important;
    transition: none !important;
}
.button-two:active{
    background-color: transparent !important;
    color: var(--folly) !important;
    transition: none !important;
}

.background-img{
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.hr{
    border: 0;
    border-top: 2px solid var(--folly) !important;
    opacity: 1 !important;
}

.bg-cards{
    background-color: hsla(349, 100%, 63%, 0.5);
    color:  #f8f9fa;
}

.text-wrap-flex{
    max-width: 55em;
}

.input-control:focus{
    box-shadow: 0 0 0 0.2rem hsla(349, 100%, 63%, 0.5) !important; 
}

.nav-link:focus{
    box-shadow: none !important;
}

.custom-checkbox input[type="checkbox"]:checked {
    background-color: var(--folly) ;
    box-shadow: 0 0 0 0.2rem hsla(349, 100%, 63%, 0.5) ; 
    border-color: var(--folly);
  }

.custom-checkbox input[type="checkbox"]:focus {
    box-shadow: 0 0 0 0.2rem hsla(349, 100%, 63%, 0.5); 
    border-color: rgb(255, 108, 135);
  }

.modal-content, .custom-checkbox input[type="checkbox"]{
    border-color: var(--folly) !important;
}

input[type="checkbox"]:hover{
    cursor: pointer;
}

@media (min-width:992px){
    .start-btn:hover{
        color:hsl(299, 100%, 85%) !important;
    }
    .button-one:hover{
        background-color: var(--folly) !important;
        color: white !important;
    }
    .button-two:hover{
        background-color: transparent !important;
        color: var(--folly) !important;
    }
    .button-three:hover .arrow{
        margin-left: 1.5em !important;
    }
}

@media(min-width:768px){
    .bg-cards{
        background-color: transparent;
        color: #212529;
    }
    
}

@media (max-width:767px){
    .background-img{
        height: 40vh;
    }
    
    .text-wrap-flex{
        min-width: fit-content;
    }
}

@media (min-width: 1200px){
    .swiper-slide {
        width: 400px;
        margin: 1em 0;
    }
}

