.about-container{
    background-color: #CCB0DD;
    border-radius: 10px ;
}


.card-divider {
    border-left: 2px solid rgb(132, 132, 132);
}

.about-title{
    font-size: 5rem !important;
    font-weight: bold !important;
    color: #5C49A8 !important;
}

.purple-container{
    
    background-color: #EBE4F4;
    border-radius: 0 0 10px 10px;
}

.ball{
    width: 1em !important;
    height: 1em;
    background-color: #5C49A8;
}

.message{
    color: #957FA0 !important;
    font-family: Verdana, Tahoma !important ;
}

.boy, .girl{
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}
.boy{
    background-image: url(../assets/boy.svg);
}
.girl{
    background-image: url(../assets/girl.svg);
}

@media (max-width:575px){
    .about-title{
        text-align: center;
        font-size: 3rem !important;
    }
}


