@property --background {
    syntax: "<color>";
    inherits: true;
    initial-value: transparent;
}

.markdown-row {
    height: 75%;
}

textarea {
    resize: none;
    overflow: auto;
    transition: --background 500ms ease-in-out;
}

textarea:focus {
    --background: hsla(0, 0%, 0%, 0.1);
}

.form-control {
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    transition-duration: 250ms;
}

.form-control:focus {
    background-color: transparent;
    -webkit-box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 1);
}

.scrollbar::-webkit-scrollbar {
    width: 5px;
}

.scrollbar::-webkit-scrollbar-track {
    background: var(--background);
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: rgb(129, 0, 153);
    background: linear-gradient(180deg, rgba(129, 0, 153, 1) 0%, rgba(255, 155, 242, 1) 100%, rgba(255, 0, 247, 1) 100%, rgba(238, 212, 158, 1) 100%);
    cursor: pointer;
}

@media (max-width: 991px) {
    .markdown-row {
        height: 95%;
        margin: 0 0.5em 0 0.5em;
    }
}

@media (min-width: 768px){
    textarea:hover{
        --background: hsla(0, 0%, 0%, 0.1);
    }
}

@media (max-width: 767px) {
    .form-control {
        transition-duration: 0ms;
    }

    .markdown-row {
        height: 100%;
        margin: 0;
    }

    .text-area,
    .markdown-prev {
        height: 50% !important;
    }

    .markdown-prev {
        background-color: transparent !important;
        padding: 0.25em 0.5em 0.5em 0.5em !important;
    }

    .text-area {
        padding: 0.5em 0.5em 0.25em 0.5em !important;
    }

    .container-fluid {
        padding: 0;
    }
}
