

.markdown-row{
    height: 75%;
}

.text-area{
    border-radius: 10px 0% 0% 10px;
}

.markdown-prev{
    border-radius: 0 10px 10px 0;
}

@media (max-width: 991px){
    .markdown-row{
        height: 95%;
        margin: 0 0.5em 0 0.5em;
    }
}
@media (max-width:767px) {
    .markdown-row{
        height: 100%;
        margin: 0;
    }
    .text-area, .markdown-prev{
        height: 50% !important;
        border-radius: 0;
    }
    .container-fluid{
        padding: 0;
    }

}